# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset - do not upload
IMDB Dataset.csv

# Trained model files
*.keras

# Local IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db